html {
	height: 100%;
	font-family: "Consolas", "Menlo", "DejaVu Sans Mono", "monospace";
}

body {
	height: 100%;
	margin: 0;
}

div#y3ro {
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-block: 3rem;
	padding-inline: 1.5rem;
}

div#y3ro .title {
	font-size: xx-large;
	margin-block: 0.1rem;
}

div#y3ro div.margin-bottom {
	margin-bottom: 1rem;
}

div#y3ro .subtitle {
	font-size: x-large;
	margin-bottom: .5rem;
}

div#y3ro .subsubtitle {
	font-size: large;
	margin-bottom: .5rem;
}

.brief {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.brief > p {
	font-size: large;
	max-width: 700px;
}

div#y3ro ul.tech-list {
	font-size: large;
	margin-bottom: 2rem;
	list-style-type: none;
	padding: 0;
}

.list-title {
	text-decoration: underline;
}

div#y3ro div.contact {
	font-size: medium;
}

.clarification {
	font-size: small;
	font-style: italic;
}

.tech {
	display: flex;
	justify-content: center;
	width: 100%;
}

.tech-grid {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 10rem;
	row-gap: 1rem;
}

@media (min-width: 600px) {
	.tech-grid {
		grid-template-columns: 1fr 1fr;
		max-width: 700px;
	}
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: whitesmoke;
  }

  a, a:visited {
    color: lightblue;
  }        
}

@media (prefers-color-scheme: light) { 
  body {
    color: #333;
    background-color: whitesmoke;
  }

  a, a:visited {
    color: darkblue;
  } 
}

.fade-in-right {
	display: inline-flex;
	padding-left: 20px;
	opacity: 0;
	transform: translateX(-20px);
	animation: fadeInRight 1s ease-out forwards;
}

@keyframes fadeInRight {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

.fade-in-up {
	display: inline-flex;
	padding-bottom: 20px;
	opacity: 0;
	transform: translateY(20px);
	animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in-left {
	display: inline-flex;
	padding-right: 20px;
	opacity: 0;
	transform: translateX(20px);
	animation: fadeInLeft 1s ease-out forwards;
}

@keyframes fadeInLeft {
	to {
		opacity: 1;
		transform: translateX(0);
	}
}
